# Importing Libraries

In [1]:
import pandas as pd

# Loading the Data

In [53]:
# Load the dataset

data = pd.read_csv("hotel_reviews.csv")

data.head()

,Index,Name,Area,Review_Date,Rating_attribute,Rating(Out of 10),Review_Text
0,0,Hotel The Pearl,"Paharganj, New Delhi",Jul-23,Best budget friendly hotel,9.0,Hotel the pearl is perfect place to stay in De...
1,1,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Amazing place,9.0,Location of the hotel is perfect. The hotel is...
2,2,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Overall good stay. Economic.,9.0,"Location, Indian food."
3,3,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Lovely,9.0,The location and the hotel itself is great. Ne...
4,4,Hotel The Pearl,"Paharganj, New Delhi",Aug-23,Great hotel Great staff and great staying,9.0,Friendly and smiling staffs.. The reception st...

In [ ]:
# Finding out the initial number of dupilcate rows

num_duplicates = data.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

# Extracting Key Information from Data

In [55]:
# Get rid of unnecessary columns

columns_needed = ['Review_Text', 'Rating(Out of 10)']
data = data[columns_needed]

data.tail()

                                            Review_Text  Rating(Out of 10)
6996  The room was good, comfortable and aesthetic \...               10.0
6997                                         good hotel                9.0
6998  good experience for me about hotel \nvery good...               10.0
6999                                          well done               10.0
7000                                            Nothing                2.0

In [56]:
# Remove rows with any missing values in the selected columns

data = data.dropna()

data.tail()

                                            Review_Text  Rating(Out of 10)
6996  The room was good, comfortable and aesthetic \...               10.0
6997                                         good hotel                9.0
6998  good experience for me about hotel \nvery good...               10.0
6999                                          well done               10.0
7000                                            Nothing                2.0